.linebar-wrapper *:focus {
    outline: none;
}
.linebar-wrapper *, .linebar-wrapper {
    box-sizing: border-box;
}
.linebar-wrapper {
    /*width: 100%;*/
    left: 0;
    position: relative;
}
.linebar-wrapper .linebar {
    background: #e0e4e7;
    height: 4px;
    margin: 20px 0 10px;
    position: relative;
    cursor: pointer;
}
.linebar-wrapper .linebar .carriage {
    background: white;
    z-index: 2;
    position: absolute;
    border-radius: 50px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid #8fb318;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.15);
}
.linebar-wrapper .linebar .carriage:after {
    background: linear-gradient(to top, #acacac, white);
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid #c0c0c0;
}
.linebar-wrapper .linebar .bar {
    background: #8fb318;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
}
.linebar-fields {
    display: flex;
}
.linebar-wrapper input[type=text] {
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #cdcdcd;
    width: calc((100% - 40px) / 2);
    height: 30px;
    margin-right: 5px;
    padding: 0 10px;
    color: #565656;
    text-align: center;
    font-size: 14px;
}
.linebar-wrapper button {
    display: inline-block;
    vertical-align: middle;
    background: #8fb318;
    border: none;
    color: white;
    height: 30px;
    width: 30px;
    font-size: 20px;
    text-shadow: 0px 1px 0px #879200;
    cursor: pointer;
    transition: 0.25s;
}
.linebar-wrapper button:hover {
    opacity: 0.9;
}